<!doctype html>
<html lang="en">

<head>
    <title>Doctor Availability</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<body>
    <div id="app" class="container">
        <h1>Doctor Availability</h1>
        <div class="row">
            <div id="main" class="col-8">
                Enter your Doctor ID: <input v-model="did" placeholder="Doctor ID number">
                <button @click="findDoctor()" type="button" class="my-1 btn btn-sm btn-primary">Search</button><br>

                <table class="table table-striped" v-if="hasDoctors">
                    <!-- <table class="table table-striped"> -->
                    <thead>
                        <tr>
                            <th>Availability S/N</th>
                            <th>Doctor ID</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Availability</th>
                            <th>Delete?</th>
                        </tr>
                        <tr v-for="doctor in doctors">
                            <td>{{ doctor.aid }}</td>
                            <td>{{ doctor.did }}</td>
                            <td>{{ doctor.name }}</td>
                            <td>{{ doctor.date }}</td>
                            <td>{{ doctor.availability }}</td>
                            <td><button @click="del(doctor.aid)" type="button" class="btn btn-primary">Del</button>
                            </td>

                        </tr>
                    </thead>
                </table>
                <div class="text-danger" v-if="!hasDoctors">{{ message }}</div>
            </div> <!-- main & col -->
            <div class="col-4">
                <h2>Indicate Doctor Availability</h2>
                <div class="form-group">
                    <label for="did">Availability S/N</label>
                    <input v-model="newAid" type="number" class="form-control" id="aid"
                        placeholder="Enter Availability S/N">
                </div>
                <div class="form-group">
                    <label for="did">Doctor ID</label>
                    <input v-model="newDid" type="number" class="form-control" id="did" placeholder="Enter Doctor ID">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input v-model="newName" type="text" class="form-control" id="name" placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input v-model="newDate" type="text" class="form-control" id="date"
                        placeholder="Enter Date YYYY-MM-DD">
                </div>
                <div class="form-group">
                    <label for="availability">Availability</label>
                    <input v-model="newAvailability" type="text" class="form-control" id="availability"
                        placeholder="Enter Availability 24H time seperated by commas">
                </div>
                <button @click="addDoctor" class="btn btn-primary" v-on:submit.prevent="onSubmit">Add
                    Availability</button>
                <div class="text-success" v-if="doctorAdded">
                    The doctor availability has been successfully added! <br>
                    <br>
                </div>
                <div class="text-success" v-if="availDeleted">
                    The doctor availability has been successfully deleted! <br>
                    <br>
                </div>
                <div class="text-danger" v-if="addDoctorError!=''">
                    There is a problem adding this new availability:<br>
                    {{ addDoctorError}}
                    <br>
                </div>
            </div> <!-- col -->
        </div> <!-- row -->

    </div> <!-- app: container -->

    <script>
        var get_all_URL = "http://localhost:5001/doctor";
        var place_order_URL = "http://localhost:5100/place_order";

        var app = new Vue({
            el: "#app",
            computed: {
                hasDoctors: function () {
                    return this.doctors.length > 0;
                }
            },
            data: {
                aid: "",
                did: "",
                "doctors": [],
                message: "There is a problem retrieving doctors data, please try again later.",
                newAid: "",
                newDid: "",
                newName: "",
                newDate: "",
                newAvailability: "",
                doctorAdded: false,
                addDoctorError: "",
                availDeleted: false
            },
            methods: {
                getAllDoctors: function () {
                    // on Vue instance created, load the book list
                    const response =
                        fetch(get_all_URL)
                        .then(response => response.json())
                        .then(data => {
                            console.log(response);
                            if (data.code === 404) {
                                // no doctors in db
                                this.message = data.message;
                            } else {
                                this.doctors = data.data.doctoravail;
                            }
                        })
                        .catch(error => {
                            // Errors when calling the service; such as network error, 
                            // service offline, etc
                            console.log(this.message + error);

                        });

                },
                findDoctor: function () {
                    console.log(this.did);
                    const response =
                        fetch(`${get_all_URL}/${this.did}`)
                        .then(response => response.json())
                        .then(data => {
                            console.log(response);
                            if (data.code === 404) {
                                // no book in db
                                this.message = data.message;
                                this.doctors = [];
                            } else {
                                this.doctors = [data.data];
                            }
                        })
                        .catch(error => {
                            // Errors when calling the service; such as network error, 
                            // service offline, etc
                            console.log(this.message + error);

                        });

                },
                addDoctor: function () {
                    // reset data
                    this.doctorAdded = false;
                    this.addDoctorError = "";

                    let jsonData = JSON.stringify({
                        aid: this.newAid,
                        did: this.newDid,
                        name: this.newName,
                        date: this.newDate,
                        availability: this.newAvailability
                    });

                    fetch(`${get_all_URL}`, {
                            method: "POST",
                            headers: {
                                "Content-type": "application/json"
                            },
                            body: jsonData
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            result = data.data;
                            console.log(result);
                            // 3 cases
                            switch (data.code) {
                                case 201:
                                    this.doctorAdded = true;

                                    // refresh book list
                                    this.getAllDoctors();

                                    // an alternate way is to add this one element into this.books
                                    break;
                                case 400:
                                case 500:
                                    this.addDoctorError = data.message;
                                    break;
                                default:
                                    throw `${data.code}: ${data.message}`;
                            }
                        })
                },
                del: function (aid) {
                    this.aid = aid;
                    this.availDeleted = false;
                    const response =
                        fetch(`${get_all_URL}/${this.aid}`, {
                            method: "DELETE",
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log(response);
                            if (data.code === 404) {
                                // no book in db
                                this.message = data.message;
                                this.doctors = [];
                            } else {
                                this.availDeleted = true;
                            }
                        })
                        .catch(error => {
                            // Errors when calling the service; such as network error,
                            // service offline, etc
                            console.log(this.message + error);

                        });

                    //Front end Vue
                    var idx = 0
                    for (doctor of this.doctors) {
                        if (doctor.aid == aid) {
                            this.doctors.splice(idx, 1) // remove this element
                            break
                        }
                        idx++
                    }
                }
            },
            created: function () {
                // on Vue instance created, load the book list
                this.getAllDoctors();
            }
        });
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>