<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Doctor Administration Portal</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/nurse.png" rel="icon">
  <link href="img/nurse.png" rel="nurse-icon">
  
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <style>
    .btn-blue {
      background: #0c2e8a;
      border: 2px solid #0c2e8a;
      color: white;
    }
  </style>

  <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>
<!-- Vue JS-->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<body id="body">

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="./index.html" class="scrollto">ESD<span> G7T6</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

       <nav id="nav-menu-container">
         <ul class="nav-menu">
           <li><a href="./patientLogin.html">Patient</a></li>
           <li><a href="./nurseLogin.html">Nurse</a></li>
           <li><a href="./doctorLogin.html">Doctor</a></li>
         </ul>
       </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="testimonials" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Doctor Administration Portal</h2>
        <p class="text-dark">
          Indicate Doctor Availability</p>
      </div>
    </div>
  </section> <!-- #intro -->

  <!--==========================
    Vue App
  ============================-->
  <div id="app">
    <section id="call-to-action" class="wow fadeInUp"> <!-- Add Availability Section START -->
      <div class="container">  <!-- Container START-->
        <div class="row"> <!-- Row START-->
          <h3 class="cta-title">Add Availability</h3>
          <table class="table table-striped" v-if="hasDoctors">
            <thead>
              <tr>
                <td class="form-group">
                  <label for="did" class="cta-text">Availability S/N</label>
                  <input v-model="newAid" type="number" class="form-control" id="aid"
                    placeholder="Enter Availability S/N">
                </td>
                <td class="form-group">
                  <label for="did" class="cta-text">Doctor ID</label>
                  <input v-model="newDid" type="number" class="form-control" id="did" placeholder="Enter Doctor ID">
                </td>
                <td class="form-group">
                  <label for="name" class="cta-text">Name</label>
                  <input v-model="newName" type="text" class="form-control" id="name" placeholder="Enter Name">
                </td>
                <td class="form-group">
                  <label for="date" class="cta-text">Date</label>
                  <input v-model="newDate" type="date" class="form-control" id="date"
                    placeholder="Enter Date YYYY-MM-DD">
                </td>
                <td class="form-group">
                  <label for="availability" class="cta-text">Availability</label>
                  <input v-model="newAvailability" type="text" class="form-control" id="availability"
                    placeholder="e.g 1300,1400,1500">
                </td>
              </tr>
            </thead>
          </table>
        </div> <!-- Row END-->

        <!-- Add Availability Button-->
        <div class="row justify-content-center">
          <button @click="addDoctor" class="btn btn-outline-light" v-on:submit.prevent="onSubmit">Add
            Availability</button>
        </div> 

        <!-- Status messages about adding and deleting-->
        <div class="row mt-4 justify-content-center">
          <div class="text-success" v-if="doctorAdded">
            {{ statusMessage }} <br>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="text-success" v-if="availDeleted">
            {{ statusMessage }} <br>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="text-danger" v-if="addDoctorError!=''">
            {{ statusMessage }}<br>
            {{ addDoctorError}}
            <br>
          </div>
        </div>
      </div> <!-- Container END-->
    </section> <!-- Add Availability Section END -->

    <section class="wow fadeInUp mt-4"> <!-- Availability search bar and tables START-->
      <div class="container"> <!-- container START-->
        <div v-show="!edit"> <!-- v-show: !edit START-->
          <!-- Search -->
          <div class="input-group">
            <input v-model="searchStr" type="text" class="form-control"
              placeholder="Search for availabilities e.g Availability S/N: 1 or Date: 2021-03-25"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button @click="findDoctor()"  class="btn btn-blue" type="button">Search</button>
              <button @click="pageRefresh()" class="btn btn-outline-info" type="button">Clear All</button>
            </div>
          </div> <!-- End Search-->

          <span class="text-danger" v-if="searchError!=''">
            {{ searchError}}
            <br>
          </span>

          <table class="table table-striped mt-4" v-if="hasDoctors">
            <thead>
              <tr>
                <th>Availability S/N</th>
                <th>Doctor ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Availability</th>
                <th>Edit</th>
                <th>Delete?</th>
              </tr>
              <tr v-for="doctor in doctors">
                <td>{{ doctor.aid }}</td>
                <td>{{ doctor.did }}</td>
                <td>{{ doctor.name }}</td>
                <td>{{ doctor.date }}</td>
                <td>{{ doctor.availability }}</td>
                <td><button @click="editDoctorForm(doctor)" type="button" class="btn btn-blue">Edit</button>
                </td>
                <td><button @click="del(doctor.aid)" type="button" class="btn btn-blue">Del</button></td>
              </tr>
            </thead>
          </table>
          <div class="text-danger" v-if="!hasDoctors">{{ message }}</div> <!-- Error message if can't get data from microservice-->
        </div> <!-- row v-show: !edit END-->
      </div> <!-- container END-->

      <div class = "container"> <!-- container START-->
        <div v-show="edit"> <!-- v-show edit START-->
          <h3>Current Availability</h3>
          <table class="table table-striped" v-if="hasDoctors">
            <thead>
              <tr>
                <th>Availability S/N</th>
                <th>Doctor ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Availability</th>
              </tr>
              <tr>
                <td> {{ editCurrentDoctor.aid }} </td>
                <td> {{ editCurrentDoctor.did }} </td>
                <td> {{ editCurrentDoctor.name }} </td>
                <td> {{ editCurrentDoctor.date }} </td>
                <td> {{ editCurrentDoctor.availability }} </td>
              </tr>
            </thead>
          </table>

          <h3>To Edit Availability</h3>
          <table class="table table-striped" v-if="hasDoctors">
            <thead>
              <tr>
                <th>Availability S/N</th>
                <th>Doctor ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Availability</th>
              </tr>
              <tr>
                <td class="form-group">
                  {{ editCurrentDoctor.aid }}
                </td>
                <td class="form-group">
                  <input type="number" class="form-control" v-model="editDid">
                </td>
                <td class="form-group">
                  <input type="text" class="form-control" v-model="editName">
                </td>
                <td class="form-group">
                  <input type="date" class="form-control" v-model="editDate">
                </td>
                <td class="form-group">
                  <input type="text" class="form-control" v-model="editAvailability">
                </td>
              </tr>
            </thead>
          </table>

          <div class="row mx-auto mb-4">
            <div class="col">
              <button @click="pageRefresh" class="btn btn-blue ">Return to home
                page</button>
            </div>
            <div class="col">
              <button @click="editDoctor" class="btn btn-blue pull-right" v-on:submit.prevent="onSubmit">Confirm
                Edit</button>
            </div>
          </div>

          <!-- Edit status message-->
          <div class="row justify-content-center">
            <div class="text-success" v-if="editSuccessful">
              The edit has been successful! <br>
              <br>
            </div>
          </div> <!-- Edit status message END -->
          
        </div> <!-- v-show:edit END -->
      </div> <!-- Container END-->
    </section> <!-- Availability search bar and tables END-->
  </div> <!-- app: container END -->


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Reveal</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="lib/sticky/sticky.js"></script>

 

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
  <script src="js/doctor.js"></script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>