<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Match Appointments</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/nurse.png" rel="icon">
  <link href="img/nurse.png" rel="nurse-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="body">

  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">contact@example.com</a>
        <i class="fa fa-phone"></i> +1 5589 55488 55
      </div>
      <div class="social-links float-right">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="./index.html" class="scrollto">ESD <span>G7T6</span></a></h1>
      </div>


    </div>
  </header><!-- #header -->


    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp md-margintop">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Back to Nurse Administration Portal Homepage</h3>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="./nurseUI.html">Home</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->
  <!--==========================
    Intro Section
  ============================-->

  <section id="intro">
    <div class="intro-content">
      <h2 style="font-size:xx-large;"> <span>Match</span> Patient Appointments</h2>
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead class="table-info">
            <tr>
              <th scope="col">Patient ID</th>
              <th scope="col">Patient Name</th>
              <th scope="col">Appointment Date</th>
              <th scope="col">Appointment Time</th>
              <th scope="col">Available Doctors</th>
              <th scope="col">Status</th>
              
            </tr>
          </thead>
          <tbody>
            <tr v-for="appointment in appointments" class="table-light">
              <th scope="row">{{appointment.apid}} </th>
              <td>{{appointment.pname}}</td>
              <td>{{appointment.date}}</td>
              <td>{{appointment.time}}</td>
              <td v-if="!doctorsAvail"> {{message}} </td>
              <td v-else> 
                  <select v-model="selected">
                    <option v-for="doctor in {{data.availableDoctors}}">
                        {{doctor}}
                    </option>
                  </select> 
                </td>
              <td><button class="btn btn-success" data-toggle="modal" data-target="#matchedModal" @click="deleteDrAvail()">Match</button> </td>
            </tr>
            
          </tbody>
        </table>

      </div>
    </div>

    <div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/2.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/3.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/4.jpg');"></div>
      <div class="item" style="background-image: url('img/intro-carousel/5.jpg');"></div>
    </div>

    
    <div class="modal fade" id="matchedModal" tabindex="-1" role="dialog" aria-labelledby="matchModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color:rgb(234, 243, 238);">
          <div class="modal-body mt-4">
            <h5 class="font-weight-bold text-center"> Matched Appointment </h5>
            <p class="font-weight-bold mt-8 ml-4"> Patient: </p>
            <p class="font-weight-bold mt-8 ml-4"> Date: </p>
            <p class="font-weight-bold mt-8 ml-4"> Time: </p>
            <p class="font-weight-bold mt-8 ml-4"> Doctor: </p>
           
          </div>
        </div>
      </div>
    </div>
    
  </section><!-- #intro -->




  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Reveal</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <script>
     var findByDatetime = "http://127.0.0.1:5001/doctor/datetime/" + date + "+" + time;
    
    var app = new Vue({
      el: "#app",
      computed: {
        doctorsAvail: function() {
          return this.doctors.length > 0;
        }
      },
      data: {
        message: "There are currently no doctors available.",
        availableDoctors: []
      },
      methods: {
        getAvailDoctors: function() {
          //on Vue instance created, load the avail doctors list
            const response =
                fetch(findByDatetime)
                    .then(response => response.json())
                    .then(data => {
                        console.log(response);
                        if (data.code === 404) {
                            // no doctor available in db
                            this.message = data.message;
                        } else {
                            this.availableDoctors = data.data.availableDoctors;
                        }
                    })
                    .catch(error => {
                        // Errors when calling the service; such as network error, 
                        // service offline, etc
                        console.log(this.message + error);

                    });

        },
        deleteDrAvail: function() {
            
        }
        }
        
        });
    

  </script>
  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="lib/sticky/sticky.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
