<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Patient UI</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <style>
    .btn-blue {
      background: #0c2e8a;
      border: 2px solid #0c2e8a;
      color: white;
    }
  </style>

</head>
<!-- Vue JS-->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<body id="body">

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="./index.html" class="scrollto">ESD<span> G7T6</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="./patientUI.html">Patient</a></li>
          <li><a href="./nurseLogin.html">Nurse</a></li>
          <li><a href="./doctorLogin.html">Doctor</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
   </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="testimonials" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>Patient Portal</h2>
      </div>
    </div>

  <!--===========================================
    Search appointment details by NRIC section
  ===============================================-->
  <div id="app1">
  <section class="wow fadeInUp mt-4">
        <div class="container"> <!-- container START-->
          <div v-show="!edit"> <!-- v-show: !edit START-->
            <!-- Search bar START -->
            <div class="input-group">
              <input v-model="searchStr" type="text" class="form-control"
                placeholder="Enter NRIC to search for your appointment booked"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button @click="findAppointmentByNRIC()"  class="btn btn-blue" type="button">Search</button>
                <button @click="pageRefresh()" class="btn btn-outline-info" type="button">Clear All</button>
              </div>
            </div> 

            <span class="text-danger" v-if="searchError!=''">
              {{ searchError}}
              <br>
            </span>
            <!-- Search bar END-->
            <br>
            <!-- Appointment booked table START -->
            <div v-show="!edit"> <!-- v-show: hasAppointment START--> 
            <h3 class="cta-title text-center">Appointment Booked</h3>
            <table class="table table-striped mt-4">
              <thead>
                <tr>
                  <th>S/N</th>
                  <th>Name</th>
                  <th>NRIC</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Doctor_name</th>
                  <th>Room_no</th>
                  <th>Status</th>
                  <th>Edit</th>
                  <th>Del</th>
                </tr>
                <tr v-for="appointment in appointments">
                  <td>{{ appointment.appointment_id }}</td>
                  <td>{{ appointment.patient_name }}</td>
                  <td>{{ appointment.NRIC }}</td>
                  <td>{{ appointment.appointment_date }}</td>
                  <td>{{ appointment.appointment_time }}</td>
                  <td>{{ appointment.doctor_name }}</td>
                  <td>{{ appointment.room_no }}</td>
                  <td>{{ appointment.status }}</td>
                  <td><button @click="editAppointmentForm(appointment)" type="button" class="btn btn-blue">Edit</button>
                  </td>
                  <td><button @click="delAppointmentBooked(appointment.appointment_id)" type="button" class="btn btn-blue">Del</button></td>
                </tr>
              </thead>
            </table>
            <!-- Appointment booked table END-->
            <div class="text-danger" v-if="!hasAppointment">There is no appointment booked by this NRIC.</div> <!-- Error message if can't get data from microservice-->
          </div> <!-- row v-show: !edit END-->
          </div> <!-- row v-show: hasAppointment END-->
        </div> <!-- container END-->

        <!-- Appointment edit START -->
        <div class = "container"> <!-- container START-->
          <div v-show="edit"> <!-- v-show edit START-->
            <h3>Current Appointment Booked</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>S/N</th>
                  <th>Name</th>
                  <th>NRIC</th>
                  <th>Date</th>
                  <th>Time</th>
                </tr>
                <tr>
                  <td> {{ editCurrentAppointment.appointment_id }} </td>
                  <td> {{ editCurrentAppointment.patient_name }} </td>
                  <td> {{ editCurrentAppointment.NRIC }} </td>
                  <td> {{ editCurrentAppointment.appointment_date }} </td>
                  <td> {{ editCurrentAppointment.appointment_time }} </td>
                </tr>
              </thead>
            </table>

            <h3>To Edit Availability</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>S/N</th>
                  <th>Name</th>
                  <th>NRIC</th>
                  <th>Date</th>
                  <th>Time</th>
                </tr>
                <tr>
                  <td class="form-group">
                    {{ editCurrentAppointment.appointment_id }}
                  </td>
                  <td class="form-group">
                    {{ editCurrentAppointment.patient_name }}
                  </td>
                  <td class="form-group">
                    {{ editCurrentAppointment.NRIC }}
                  </td>
                  <td class="form-group">
                    <input type="date" class="form-control" v-model="editDate" @change="get_avail_time_by_date_for_edit_form">
                    <span class="text-danger justify-content-center" v-if="no_avail_time">
                      There is no available time for this date, please select another date.<br>
                    </span>
                  </td>
                  <td class="form-group">
                    <select type="text" class="form-control" v-model="editTime">
                      <option v-for="each_time in all_available_time_array">{{each_time}}</option>
                  </td>
                </tr>
              </thead>
            </table>

            <div class="row mx-auto mb-4">
              <div class="col">
                <button @click="pageRefresh" class="btn btn-blue ">Return to Patient
                  Portal</button>
              </div>
              <div class="col">
                <button @click="editAppointmentDateTime" class="btn btn-blue pull-right" v-on:submit.prevent="onSubmit">Confirm
                  Edit</button>
              </div>
            </div>

            <!-- Edit status message-->
            <div class="row justify-content-center">
              <div class="text-success" v-if="editSuccessful">
                The edit has been successful! <br>
                <br>
              </div>
            </div> <!-- Edit status message END -->
            
          </div> <!-- v-show:edit END -->
        </div> <!-- Container END-->
      </section> <!-- Availability search bar and tables END-->
  </div><!--app1: container END-->

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Reveal</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="lib/sticky/sticky.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
  <script src="js/patient.js"></script>

   <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</body>
</html>
