<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Patient UI</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/patient.css" rel="stylesheet">

  <style>
    .btn-blue {
      background: #0c2e8a;
      border: 2px solid #0c2e8a;
      color: white;
    }
  </style>

</head>
<!-- Vue JS-->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<body id="body">

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="./index.html" class="scrollto">ESD<span> G7T6</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="./patientLogin.html">Patient</a></li>
          <li><a href="./nurseLogin.html">Nurse</a></li>
          <li><a href="./doctorLogin.html">Doctor</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
   </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="testimonials" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>PATIENT PORTAL</h2>
      </div>
    </div>

  <!--==========================
    View booking status section
  ============================-->

<section class="wow fadeInUp mt-4"> <!-- Availability search bar and tables START-->
      <div class="container"> <!-- container START-->
        <div v-show="!edit"> <!-- v-show: !edit START-->
          <h3 class="cta-title">Appointment Booked</h3>
          <table class="table table-striped mt-4" v-if="hasAppointment">
            <thead>
              <tr>
                <th>Appointment ID</th>
                <th>Appointment Date</th>
                <th>Appointment Time</th>
                <th>Doctor_name</th>
                <th>Room_No</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Del</th>
              </tr>
              <tr v-for="doctor in doctors">
                <td>{{ doctor.aid }}</td>
                <td>{{ doctor.did }}</td>
                <td>{{ doctor.doctor_name }}</td>
                <td>{{ doctor.date }}</td>
                <td>{{ doctor.availability }}</td>
                <td>{{ doctor.status }}</td>
                <td><button @click="editDoctorForm(doctor)" type="button" class="btn btn-blue">Edit</button>
                </td>
                <td><button @click="del(doctor.aid)" type="button" class="btn btn-blue">Del</button></td>
              </tr>
            </thead>
          </table>
          <div class="text-danger" v-if="!hasDoctors">{{ message }}</div> <!-- Error message if can't get data from microservice-->
        </div> <!-- row v-show: !edit END-->
      </div> <!-- container END-->

      <div class = "container"> <!-- container START-->
        <div v-show="edit"> <!-- v-show edit START-->
          <h3>Current Availability</h3>
          <table class="table table-striped" v-if="hasDoctors">
            <thead>
              <tr>
                <th>Availability S/N</th>
                <th>Doctor ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Availability</th>
              </tr>
              <tr>
                <td> {{ editCurrentDoctor.aid }} </td>
                <td> {{ editCurrentDoctor.did }} </td>
                <td> {{ editCurrentDoctor.doctor_name }} </td>
                <td> {{ editCurrentDoctor.date }} </td>
                <td> {{ editCurrentDoctor.availability }} </td>
              </tr>
            </thead>
          </table>

          <h3>To Edit Availability</h3>
          <table class="table table-striped" v-if="hasDoctors">
            <thead>
              <tr>
                <th>Availability S/N</th>
                <th>Doctor ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Availability</th>
              </tr>
              <tr>
                <td class="form-group">
                  {{ editCurrentDoctor.aid }}
                </td>
                <td class="form-group">
                  <input type="number" class="form-control" v-model="editDid">
                </td>
                <td class="form-group">
                  <input type="text" class="form-control" v-model="editName">
                </td>
                <td class="form-group">
                  <input type="date" class="form-control" v-model="editDate">
                </td>
                <td class="form-group">
                  <input type="text" class="form-control" v-model="editAvailability">
                </td>
              </tr>
            </thead>
          </table>

          <div class="row mx-auto mb-4">
            <div class="col">
              <button @click="pageRefresh" class="btn btn-blue ">Return to home
                page</button>
            </div>
            <div class="col">
              <button @click="editDoctor" class="btn btn-blue pull-right" v-on:submit.prevent="onSubmit">Confirm
                Edit</button>
            </div>
          </div>

          <!-- Edit status message-->
          <div class="row justify-content-center">
            <div class="text-success" v-if="editSuccessful">
              The edit has been successful! <br>
              <br>
            </div>
          </div> <!-- Edit status message END -->
          
        </div> <!-- v-show:edit END -->
      </div> <!-- Container END-->
    </section> <!-- Availability search bar and tables END-->
  </div> <!-- app: container END -->

  <!--==========================
    Book an Appointment section
  ============================-->
  <div id="app">
    <section id="call-to-action" class="wow fadeInUp"> <!-- Book an Appointment section START -->
      <div class="container">  <!-- Container START-->
        <div class="row"> <!-- Row START-->
          <h3 class="cta-title">Book an Appointment</h3>
          <table class="table borderless">
            <thead>
              <tr>
                <td class="form-group">
                  <label for="nric" class="cta-text">NRIC</label>
                  <input v-model="newNRIC" type="text" class="form-control" id="nric" placeholder="Enter NRIC">
                </td>
               
                <td class="form-group">
                  <label for="selected_date" class="cta-text">Appointment Date</label>
                  <input v-model="newAppointmentDate" type="date" class="form-control" id="selected_date"
                    placeholder="Enter Date YYYY-MM-DD">
                </td>
                <td class="form-group">
                  <label for="available_time" class="cta-text">Appointment Time</label>
                  <select v-model="newAppointmentTime" type="text" class="form-control" id="available_time">
                    <option v-for="each_time in time">{{each_time}}</option>
                </td>
              </tr>
            </thead>
          </table>
        </div> <!-- Row END-->

        <!-- Add Appointment Button-->
        <div class="row justify-content-center">
          <button @click="addAppointment" class="btn btn-outline-light" v-on:submit.prevent="onSubmit">Book
            Appointment</button>
        </div> 

        <!-- Status messages about adding and deleting-->
        <div class="row mt-4 justify-content-center">
          <div class="text-success" v-if="appointmentAdded">
            {{ statusMessage }} <br>
          </div>
        </div>
        <!-- <div class="row justify-content-center">
          <div class="text-success" v-if="availDeleted">
            {{ statusMessage }} <br>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="text-danger" v-if="addDoctorError!=''">
            {{ statusMessage }}<br>
            {{ addDoctorError}}
            <br>
          </div>
        </div> -->
      </div> <!-- Container END-->
    </section> <!-- Add Availability Section END -->

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Reveal</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="lib/sticky/sticky.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
  <script src="js/patient.js"></script>

</body>
</html>
